<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    {{ knp_menu_render('main', { 'style': 'navbar' }) }}
                    {{ knp_menu_render('navbarRight', { 'style': 'navbar-right' }) }}
                </div>
            </nav>
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script
    </body>
</html>
